#root {
  display: contents;
}

.layout,
.layout > #page {
  display: flex;
  flex-direction: column
}

.layout > #page,
.layout.admin,
.layout.showcase {
  flex: 1;
}

.layout {
  @apply relative min-h-screen;
}